[MASTER]
extension-pkg-whitelist=cartopy,ephem,exifread,lxml,magic,matplotlib,numpy,shapely,sysctl

[MESSAGES CONTROL]
disable=bad-whitespace,invalid-name,line-too-long,missing-docstring,too-many-arguments,too-many-locals

[TYPECHECK]
ignored-classes=cartopy,ephem,exifread,lxml,magic,matplotlib,numpy,shapely,sysctl
ignored-modules=cartopy,ephem,exifread,lxml,magic,matplotlib,numpy,shapely,sysctl
